.about-me-container {
  color: #fff;
  background: linear-gradient(to bottom, #22252c, #5b6476);
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.about-me-container h1,
.about-me-container h2 {
  color: #ffbf7f;
}

.section {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

.tech-stack span {
  display: inline-block;
  background: #333;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

.contact-me p {
  margin: 10px 0;
}
