.footer {
  border: 1px outset #79797950;
  background: linear-gradient(
    to bottom,
    rgba(4, 13, 20, 0.907),
    rgba(5, 17, 26, 0.918)
  );
  color: rgba(255, 255, 255, 0.928);
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.social-media a {
  margin: 0 10px;
  color: #fff;
}

.social-media a:hover {
  color: #ffbf7f;
}

.footer p {
  font-size: 0.8em;
  margin-top: 10px;
}
