body {
  background: linear-gradient(to bottom, #1c1f25, rgb(68, 75, 91));
}

.home-container {
  filter: blur(0.3px);
  color: #ffffffef;

  padding: 20px;
  width: 100%;
  height: 100%;
}

.intro-section {
  border: 5px groove #5058672e;
  margin: auto;
  width: 75%;
  margin-top: 5%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 7px 15px rgb(30, 30, 30);
  position: relative;
  overflow: hidden;
  text-align: left;
}

.profile-photo {
  float: left;
  width: 230px;
  border-radius: 10px;
  border: 4px outset;
  margin-right: 60px;
  margin-bottom: 50px;
  transform: scale(1.4);
  transform-origin: center;
  animation: borderColorShift 15s infinite linear;
}

@keyframes borderColorShift {
  0% {
    border-color: #82673fc7;
  }
  25% {
    border-color: #f3c177c0;
  }
  50% {
    border-color: #82673fc7;
  }
  75% {
    border-color: #f3c177e7;
  }
  100% {
    border-color: #82673fc7;
  }
}

.animated-icon {
  font-size: 45px;
  margin-right: 15px;
  animation: colorShift 4s infinite;
}

@keyframes colorShift {
  0% {
    color: rgba(255, 255, 255, 0.677);
  }
  50% {
    color: #dcae69;
  }
  100% {
    color: rgba(255, 255, 255, 0.674);
  }
}

.intro-text {
  font-family: Kanit;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: inherit;
  color: rgba(255, 255, 255, 0.979);
}

.intro-text p {
  margin-top: 20px;
  padding-right: 20px;
  text-align: start;
}

#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 0.6;
}

.intro-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.214);
  z-index: 1;
}

.intro-section > * {
  position: relative;
  z-index: 2;
}

/*--------------------------------------------------------------*/

.container-sub-home {
  margin: 10px auto;
  max-width: 80%;
}

.carosello-home {
  margin-left: 50px;
  width: 60%;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.skills-highlights {
  text-align: center;
}

.H2-skill {
  text-shadow: -1px -1px 0 #00000078, 1px -1px 0 #0000008a, -1px 1px 0 #0000004b,
    1px 1px 0 #0000007e;
  color: #ededede8;
  font-family: kanit;
  font-weight: 300;
  margin-top: 23px;
  margin-left: 70px;
  margin-bottom: 15px;
  max-width: 250px;
}

.skill-card {
  border-radius: 25px;
  margin-bottom: 10px;
  height: 130px;
  font-family: monospace;
  font-weight: 300;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px groove #687285c6;
  transition: transform 0.4s;
  background: linear-gradient(
    to bottom,
    rgba(4, 13, 20, 0.894),
    rgba(4, 13, 20, 0.647)
  );
  box-shadow: 0 3px 8px rgb(30, 30, 30);
}

.skill-card strong {
  letter-spacing: 1px;
  margin-left: 15px;
}

.skill-card strong:hover {
  cursor: pointer;
  color: #e6ad57;
}

.skill-card:hover {
  background: linear-gradient(
    to bottom,
    rgba(4, 13, 20, 0.894),
    rgba(6, 19, 29, 0.591)
  );
  box-shadow: 0 5px 8px rgb(30, 30, 30);
}

/*--------------------------------------------------*/

.latest-projects {
  margin-top: 25px;
}

.projects-container {
  display: flex;
}

.info-prj {
  text-shadow: -1px -1px 0 #00000078, 1px -1px 0 #0000008a, -1px 1px 0 #0000004b,
    1px 1px 0 #0000007e;
  margin-left: 20px;
  display: flex;
  width: 80%;
  justify-content: center;
  color: #ffffffda;
  position: absolute;
  top: 0px;
  border: 2px groove #555e6ec6;
  background: linear-gradient(to bottom, #202328, rgb(92, 100, 118));
  border-radius: 15px;
}

.info-prj-2 {
  text-shadow: -1px -1px 0 #00000078, 1px -1px 0 #0000008a, -1px 1px 0 #0000004b,
    1px 1px 0 #0000007e;
  margin-left: 20px;
  display: flex;
  width: 80%;
  justify-content: center;
  color: #ffffffda;
  position: absolute;
  top: 0px;
  border: 2px groove #555e6ec6;
  background: linear-gradient(to bottom, #202328, rgb(92, 100, 118));
  border-radius: 15px;
}

.star {
  backdrop-filter: blur(20px);
  width: 50px;
  height: 50px;
  background: linear-gradient(
    to bottom,
    rgba(69, 69, 69, 0.893),
    rgba(127, 127, 127, 0.503)
  );
  color: rgba(216, 219, 14, 0.872);
  border-radius: 50%;
  border: 5px inset #4f596dd8;
  position: absolute;
  top: 20px;
  left: 20px;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.H2-project {
  text-shadow: -1px -1px 0 #00000078, 1px -1px 0 #0000008a, -1px 1px 0 #0000004b,
    1px 1px 0 #0000007e;
  color: #ededede8;
  font-family: kanit;
  font-weight: 300;
  padding-left: 30%;
  margin-bottom: 20px;
}

/*-----------------------------------------*/

.project-card {
  position: relative;
  right: 5px;
  margin-bottom: 20px;
  height: 240px;
  border-radius: 25px;
  background-image: url('../assets/Img/Immagine 2024-06-13 144633.png');
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 20px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.project-card::before {
  content: '';
  position: absolute;
  bottom: 0.1px;
  left: 0;
  width: 100%;
  height: 103%;
  background: rgba(0, 0, 0, 0.454);
  border-radius: 25px;
}

.project-card-2 {
  position: relative;
  right: 5px;
  margin-bottom: 20px;
  height: 240px;
  border-radius: 20px;
  background-image: url('../assets/Img/Immagine\ 2024-06-14\ 150109.png');
  background-size: 100%;
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 20px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.project-card-2::before {
  content: '';
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.454);
  border-radius: 30px;
}

.project-card,
.project-card-2 {
  margin: 5px;
  transition: all 0.5s ease;
}

.project-card:hover,
.project-card-2:hover {
  transform: scale(1.01);
}

.animated-border {
  border-radius: 25px;
  margin-right: 40px;
  position: relative;
  right: 5%;
  width: 450px;
  height: 252px;
  border: solid 4px #1a1d21;
  animation: border-animation 8s infinite linear;
}

@keyframes border-animation {
  0% {
    border-color: #21242a;
  }
  25% {
    border-color: #daae6cbb;
  }
  50% {
    border-color: #2f4050;
  }
  75% {
    border-color: #daae6cdb;
  }
  100% {
    border-color: #212429;
  }
}

.run-animation {
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hr-subHome {
  max-width: 1400px;
  height: 2px;
  background: linear-gradient(to right, #f6ae43, #eabb7400);
  border: none;
  margin: 50px 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
} /*---------------------RESPONSIVENESS--SMARTPHONE--------------------*/

@media (max-width: 1024px) {
  .home-container {
    padding: 5px;
    margin-top: 40px;
  }

  .intro-section {
    width: 98%;
    position: relative;
    padding: 15px;
    text-align: center;
    margin-top: 50px;
  }

  .profile-photo {
    width: 90px;
    margin: auto;
    display: block;
    border-radius: 70px 0 62.5px 0;
  }

  .hello {
    position: relative;
    top: 5px;
    left: 10px;
    font-size: 25px;
  }

  .intro-text p {
    margin-left: 0;
    margin-right: -8px;
    padding-right: 0;
    margin-top: 25px;
    letter-spacing: 1px;
    z-index: 2;
  }

  /*---------------------------------------*/

  .container-sub-home {
    padding: 10px;
    width: 100%;
  }

  .H2-skill {
    margin-top: 30px;
    position: relative;
    font-size: 22px;
    right: 38px;
  }

  .carosello-home {
    width: 200px;
    height: 90px;
  }

  .skill-card {
    width: 100%;
    height: auto;
    padding: 7.5px;
  }

  .H2-project {
    position: relative;
    font-size: 22px;
    margin-top: 50px;
    right: 30px;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
  }

  .info-prj h3,
  .info-prj-2 h3 {
    margin-left: 40px;
    font-size: 18px;
  }

  .animated-border {
    margin-bottom: 30px;
    width: 110%;
    height: 300px;
  }

  .project-card {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    z-index: 1000;
    bottom: 5px;
    right: 5px;
  }

  .project-card-2 {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    z-index: 1000;
    bottom: 5px;
    right: 5px;
    border-radius: 25px;
  }

  .fade-in-up {
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 300ms, transform 300ms;
  }

  .run-animation {
    opacity: 1;
    transform: translateY(0);
  }
}

/*----------------------------------------------------------------*/
/*---------------------RESPONSIVENESS--TABLETS--------------------*/
