.fixed-navbar {
  filter: blur(0.3px);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
}

.navbar {
  height: 65px;
  width: 100%;
  margin: 0;
  background: linear-gradient(to bottom, #202429, rgb(24, 26, 31));
  border-bottom: 1px inset #000000a3;
  box-shadow: 0 3px 15px #180701d8;
}

.navbar-nav {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.navbar-toggler {
  display: none;
  font-size: 26px;
  color: white;
  border: none;
  background: none;
}

.navbar-brand {
  background-color: #fff;
  margin-left: auto;
  width: 200px;
}

/*@keyframes colorShift {
  0% {
    color: rgba(255, 255, 255, 0.873);
  }
  50% {
    color: rgb(0, 92, 250);
  }
  100% {
    color: rgba(255, 255, 255, 0.873);
  }
}*/

.nav-icon {
  font-size: 25px;
  margin-right: 13.5px;
  margin: auto 10px;
}

.nav-icon-home {
  font-size: 45px;
  margin-right: 145px;
  padding-left: 105px;
}

.navbar-nav .nav-link {
  font-family: monospace;
  display: flex;
  margin-right: 30px;
  text-decoration: none;
  color: #ffffffd6;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #e6b771;
  text-decoration: none;
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  margin-left: 30px;
  background-color: #e6b771;
  transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link:focus::after {
  width: 70%;
  margin-left: 30px;
  color: #f39913d7;
}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link.active {
  color: #f39913d7;
}

.navbar-nav .nav-link:active::after,
.navbar-nav .nav-link.active::after {
  color: #f39913d7;
}

.btn-outline:hover {
  background-color: #0e3452;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
